#topo {
    background-image: url(../img/backgrund_azul.jpg);  
    height: 100%;
}

#topo-galeria{
    background-image: url(../img/backgrund_azul.jpg); 
    height: 100px;
    margin-top: 0px;
}

#menu {
       padding:10px;       
       width:100%;       
}

#menu ul {
padding:0;
list-style:none;
overflow:auto;
margin:0 auto;
}


.corpo{
    background-image: url(../img/backgrund_azul.jpg) ; 
    height: 100%;
}
.quem-somos{
    background-image: url(../img/backgrund_azul.jpg);    
    height: 100vh;
    
}

.projetos{
    background-image: url(../img/backgrund_azul.jpg);
    height:100%; 
}

.parceiros{
    background-image: url(../img/backgrund_azul.jpg);
    height:100%; 
}

.galeria{
    background-image: url(../img/backgrund_azul.jpg);
    height:100%; 
}

.texto-eventos{
    font-size: 20px;
}

.alignnone{
margin: 1px 4px 0 0;
padding: 3px;
background-color: #ffffff;
border: 2px solid #ffffff;
}

.contato{
    background-image: url(../img/backgrund_azul.jpg);
    height:100%;   
    
}

.botaosocial{
    max-width: 70px;
}

.titulo-paginas{
    text-align: center;
    color: black;    
    font-family: huge; 
    font-size: 40px;  
    margin-bottom: 20px;
}

.titulo-parceiros{
    text-align: center;
    color: black;    
    font-family: huge;
    font-size: 40px;    
}

.titulo-materia{    
    font-family: huge;
    text-transform: capitalize;
    font-size: 25px;
}

.titulo-botoes{
    font-family: huge;
    font-size: 33px;        
}

.titulo-contato{
    font-family: huge;
    
    
}

@font-face {
     font-family: huge;
     src: url('fontes/Huge_DEMO.ttf');
     
}

.separador{
    text-align: center;  
    margin-bottom: 2%;
}

.texto-pagina{
    text-align: justify;
    font-size: 20px;
}

.osupa{
    font-weight: bold;
    font-size: 22px;
}


.teko{
    max-height: 45px;
    top: 15px;    
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
} 

#teste{position:relative}
#teste:hover{top:-4px; box-shadow:0 -4px -4px #666}


.img-circle{position:relative}
.img-circle:hover{top:-4px; box-shadow:0 -4px -4px #666}

.botoes-menu{    
    margin-top: 35px;
}

.pre-banner {
    display: flex;
    height: 100px;
    width: 60%;
    justify-content: center;
    text-align: center;
    background-image: url(../img/pre-banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.centralizar{
    text-align: center;
}

.justificar{
    text-align: justify;

}

.btn{
    color: black;
    font-style: italic;  
    font-family: monospace, Arial;
    font-size: 20px;
}

.btn-link:hover{
    background-color: #fff1ce !important;
    color: black;
} 

.card-text{
    text-align: center;
}

.btn-dark{
    background: black;
    color: #7ababa;
}

.btn-success{
    background: #7ababa;
    border-color: #7ababa;
}

.btn-success:hover{
    background: #666;
    border-color: #666;
}

.texto-botao{
    color: black;
    font-family: arial;
}
