#topo {
    background-image: url(../img/backgrund_azul.jpg);        
}



#menu {
       padding:10px;       
       width:100%;
       
}

#menu ul {
padding:0;
list-style:none;
overflow:auto;

margin:0 auto;
}


.corpo{
    background-image: url(../img/backgrund_azul.jpg) ; 
}
.quem-somos{
    background-image: url(../img/backgrund_bege.jpg);
    height:100%;  
}

.projetos{
    background-image: url(../img/backgrund_cinza.png);
    height:100%; 
}

.galeria{
    background-image: url(../img/backgrund_green.png);
    height:100%; 
}

.texto-eventos{
    font-size: 20px;
}

.alignnone{
margin: 1px 4px 0 0;
padding: 3px;
background-color: #ffffff;
border: 2px solid #ffffff;
}

.contato{
    background-image: url(../img/backgrund_gray.jpg);
    height:100%;   
    
}

.titulo-paginas{
    text-align: center;
    color: black;    
    font-family: huge;   
    text-shadow: 0.2em 0.2em 0.3em #7ababa;
    font-size: 70px;    
}

.titulo-materia{    
    font-family: huge;
    text-transform: capitalize;
    font-size: 30px;
}

.titulo-botoes{
    font-family: huge;
    font-size: 33px;        
}

.titulo-contato{
    font-family: huge;
    text-shadow: 0.2em 0.2em 0.3em #7ababa;
    
}

@font-face {
     font-family: huge;
     src: url('fontes/Huge_DEMO.ttf');
     
}




.separador{
    text-align: center;  
    margin-bottom: 2%;
}

.texto-pagina{
    text-align: justify;
    font-size: 20px;
}

.osupa{
    font-weight: bold;
    font-size: 22px;
}


.teko{
    max-height: 45px;
    top: 15px;
    
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
} 

#teste{position:relative}
#teste:hover{top:-5px; box-shadow:0 -5px -5px #666}



.img-circle{position:relative}
.img-circle:hover{top:-4px; box-shadow:0 -4px -4px #666}

.botoes-menu{    
    margin-top: 35px;
}

.pre-banner {
    display: flex;
    height: 100px;
    width: 80%;
    justify-content: center;
    text-align: center;
    background-image: url(../img/pre-banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.texto-pre-banner {
    align-self: center;
    padding-bottom: 7px;     
    font-family:  monospace, Arial;
    
}

.centralizar{
    text-align: center;
}

.justificar{
    text-align: justify;

}

.btn{
    color: black;
    font-style: italic;  
    font-family: monospace, Arial;
    font-size: 20px;
}

.btn-link:hover{
    background-color: #fff1ce !important;
    color: black;
} 


